body {
    text-align: center;
    font-family: 'Satisfy', cursive;
    color: #888;
}

h1 {
    /*font-family: Monoton;this has a very special design*/
    font-size: 70px;
    margin: 0.2em;
    color: #0aa;
    word-spacing: 0.5em;
    border-bottom: 2px solid #eee;
    margin-bottom: 50px;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

.btn {
  color: #fff;
  padding: 10px 20px;
  border-radius: 7px 7px 7px 7px;
  background-color: #0aa;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.btn:hover {
    background-color: #fff;
    color: #0aa;
    border: 1px solid #0aa;
}

/*control the width of the input box*/
input[type=number] {
    width: 5em;
    height: 2vh;
    padding: 9px 5px;
    border: none;  
}

input:focus{
    outline: none;
} 

.customer-style { 
    padding: 9px;
    border: 1px solid #ddd;
    border-radius: 7px 7px 7px 7px;
}

section.margin-top {
    margin-top: 30px;
}

.color-picker-style {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 7px 7px 7px 7px;
}

.style {
    width: 200px;
    height: 3vh;
    border: none;
  }

.canvas-style {
    font-size: 3rem;
    color:rgb(225, 197, 37);
    font-family: 'Satisfy', cursive;
    text-shadow: 3px 3px 2px #888;
    text-decoration:underline;
}

form#sizePicker{
    margin: 0 auto;
    width:50%;
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}